.filter-content {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 14px 16px;
    align-items: center;

}

.search-container {
    position: relative;
    width: 100%;
    max-width: 310px;
    min-height: 34px;

}

.search-input {
    width: 100%;
    padding: 8px 44px 8px 16px;
    background: var(--color-light);
    border: 1px solid var(--color-border-secondary);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-primary);

}

.search-input::placeholder {
    color: var(--color-tertiary);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.search-input:focus {
    outline: none;
    border-color: var(--color-border-secondary);
}

.search-icon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--color-secondary);
}

.dropdown-container {
    position: relative;

}

.dropdown-button {
    width: 100%;
    padding: 8px 6px;
    background: var(--color-background-primary);
    border: 1px solid var(--color-border-secondary);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
    cursor: pointer;
    caret-color: transparent;
}

.dropdown-button.active {
    border-color: var(--color-dark-secondary);
    background-color: var(--color-subtle);
    color: var(--color-dark-secondary);

}

.dropdown-title {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    padding: 0px 4px;

}


.dropdown-button:hover {
    border-color: var(--color-border-secondary);
}

.dropdown-content {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    min-width: 200px;
    width: 100%;
    padding: 8px;
    background: var(--color-light);
    border: 1px solid var(--color-border-tertiary);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    z-index: 10;
}

.dropdown-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-primary);
    border-radius: 4px;
}

.dropdown-item:hover {
    background: var(--color-dull);
}

.dropdown-item input[type="checkbox"] {
    width: 16px;
    height: 16px;
    border-color: #677A90;
    accent-color: #084782;
}